In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [2]:

#The link to read in the data from
file_link = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
breastcancer = pd.read_csv(file_link, header = None)
headers = ['Scn', 'A2',  'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'CLASS']
breastcancer.columns = headers
breastcancer.replace('?', np.NaN, inplace = True) 
breastcancer["A7"] = pd.to_numeric(breastcancer["A7"])
breastcancer['A7'].fillna((breastcancer['A7'].mean()), inplace=True)

In [3]:
breastcancer.columns

Index(['Scn', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'CLASS'], dtype='object')

In [4]:
breastcancer.drop(['Scn'], axis=1, inplace = True)

In [5]:
true_label = breastcancer[['CLASS']]

In [6]:
true_label.replace({2: 0, 4: 1}, inplace = True)

/Users/abhishekbabuji/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

In [7]:
breastcancer.drop(['CLASS'], axis=1, inplace = True)

In [8]:
true_label

     CLASS
0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       1
15       1
16       0
17       0
18       1
19       0
20       1
21       1
22       0
23       1
24       0
25       1
26       0
27       0
28       0
29       0
..     ...
669      1
670      1
671      0
672      0
673      0
674      0
675      0
676      0
677      0
678      0
679      0
680      1
681      1
682      0
683      0
684      0
685      0
686      0
687      0
688      0
689      0
690      0
691      1
692      0
693      0
694      0
695      0
696      1
697      1
698      1

[699 rows x 1 columns]

In [9]:
kmeans = KMeans(n_init=20, max_iter=500, n_clusters = 2)

In [10]:
kmeans.fit(breastcancer)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=500,
    n_clusters=2, n_init=20, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [11]:
kmeans.labels_

array([0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1], dtype=int32)

In [12]:
breastcancer['true_y'] = true_label
breastcancer['kmeans_y'] = kmeans.labels_

In [13]:
print(breastcancer.head(n = 15))

    A2  A3  A4  A5  A6    A7  A8  A9  A10  true_y  kmeans_y
0    5   1   1   1   2   1.0   3   1    1       0         0
1    5   4   4   5   7  10.0   3   2    1       0         1
2    3   1   1   1   2   2.0   3   1    1       0         0
3    6   8   8   1   3   4.0   3   7    1       0         1
4    4   1   1   3   2   1.0   3   1    1       0         0
5    8  10  10   8   7  10.0   9   7    1       1         1
6    1   1   1   1   2  10.0   3   1    1       0         0
7    2   1   2   1   2   1.0   3   1    1       0         0
8    2   1   1   1   2   1.0   1   1    5       0         0
9    4   2   1   1   2   1.0   2   1    1       0         0
10   1   1   1   1   1   1.0   3   1    1       0         0
11   2   1   1   1   2   1.0   2   1    1       0         0
12   5   3   3   3   2   3.0   4   4    1       1         0
13   1   1   1   1   2   3.0   3   1    1       0         0
14   8   7   5  10   7   9.0   5   5    4       1         1

In [14]:
def error_rate(true_y, kmeans_y):
    
    """
    Args:
        true_y (pd.Series): Actual label
        kmeans_y (pd.Series): Label predicted by k_means clustering routine
    """
    
    benign_numerator = 0    
    malignant_numerator = 0
    
    for prediction_num in range(len(true_y)):
        
        if kmeans_y[prediction_num] == 1 and true_y[prediction_num] == 0:
            benign_numerator +=1
            
        elif kmeans_y[prediction_num] == 0 and true_y[prediction_num] == 1:
            malignant_numerator +=1
            
    
    print("Error for benign: {}".format(benign_numerator/np.sum(kmeans_y == 0)))
    print("Error for malign: {}".format(malignant_numerator/np.sum(kmeans_y == 1)))
    print("Total error rate: {}".format(np.sum(true_y != kmeans_y)/len(true_y)))

In [15]:
error_rate(breastcancer['true_y'], breastcancer['kmeans_y'])

Error for benign: 0.023605150214592276
Error for malign: 0.0815450643776824
Total error rate: 0.04291845493562232

# Report

The results we obtained, (an error rate of under 1%) using just clustering make us wonder why we perform supervised classification. This was a clean dataset and since it came from the UCI Machine Learning Repository, it is almost very easy to replicate such results on any of those datasets, we must agree that we may not be able to obtain such results in real world problems. It probably is the case that there were VERY CLEAN boundaries to seperate benign and maligant cancer types, perhaps it is much more complicated to identify clusters among various types of malignant cancers. Billions of dollars being poured into Cancer research is probably an evidence of that fact. Other evaluation metrics that can help understand quality of the clustering algorithm is the `F1 score`, `Precision` and `Recall`. In making judgments that may affect the life of a patient, `Accuracy` or `Total Error Rate` may not be a good metric. This thought occurred to us by the fact that the `Error for malign` was greater than the `Total error rate`, this only makes us wonder about the impact this may have had in making cancer diagnosis for patients had we only looked at the lowest scoring (best scoring) evaluation metric.